table, th, td {
    border: 1px solid black;
}

#table1	{
	background-color: yellow;
}

#table2{
	background-color: red;
}	
	
#table3{
	background-color: green;
}
#table4{
	background-color: purple;
}

img {
	img {

    width: 100%;
    height: auto;
}
}